#projects {
    @include window($secondary-background);
    @include background-gradient;
    scroll-snap-align: center;
    @include flex-column(center, center);
    text-align: center;
}

.projects-holder {
    @include flex-row(space-around, center);
    width: 100%;
    height: 90%;
}

.personal-holder {
    @include flex-column(space-around, center);
    width: 45%;
    height: 100%;
    h1 {
        color: $primary-color;
        text-decoration: underline;
        font-size: 2.5rem;
    }
    li {
        text-align: left;
        // width: 80%;
        color: $font-color;
        margin-bottom: 10px;
        font-size: 1rem;
    }
}

.title-holder {
    height: 10%;
    width: 100%;
}

.project-photos-holder {
    height: 40%;
    width: 90%;
}

.project-photos {
    width: 100%;
    height: 60%;
}

.personal1{
    @include project-photo;
    background-image: url('../../assets/personal/personal1.png');
    background-position-x: center;
}

.personal2 {
    @include project-photo;
    background-image: url('../../assets/personal/personal2.png');
    background-position-x: center;
}

.personal3 {
    @include project-photo;
    background-image: url('../../assets/personal/personal3.png');
    background-position-x: center;
}

.personal4 {
    @include project-photo;
    background-image: url('../../assets/personal/personal4.png');
    background-position-x: center;
}

.list-holder {
    @include flex-column(center, center);
    width: 80%;
    height: 50%;
}

.group-holder {
    @include flex-column(space-around, center);
    width: 45%;
    height: 100%;
    h1 {
        color: $primary-color;
        text-decoration: underline;
        font-size: 2.5rem;
    }
    li {
        text-align: left;
        // width: 80%;
        color: $font-color;
        margin-bottom: 10px;
        font-size: 1rem;
    }
}

.group1{
    @include project-photo;
    background-image: url('../../assets/group/group1.png');
    background-position-x: center;
}

.group2 {
    @include project-photo;
    background-image: url('../../assets/group/group2.png');
    background-position-x: center;
}

.group3 {
    @include project-photo;
    background-image: url('../../assets/group/group3.png');
    background-position-x: center;
}

.group4 {
    @include project-photo;
    background-image: url('../../assets/group/group4.png');
    background-position-x: center;
}

@media (max-width: 1000px) {
    .projects-holder {
        display: none;
    }
}



