#about {
    @include window($primary-background);
    scroll-snap-align: center;
    @include background-gradient;
}

.about-section-holder {
    @include section;
    @include flex-row(center, center);
}

.about-section {
    width: 80%;
    height: 80%;
    @include flex-row(space-evenly, center);
    background: $primary-background;
    border-radius: 10px;
    @include box-shadow;
}

.about-photos-holder {
    height: 100%;
    width: 40%;
    // background: blue;
    @include flex-row(center, center);
}

.about-photos {
    width: 80%;
    height: 85%;
    // @include flex-row(center, center);
    img {
        object-fit: cover;
    }
}

.photo1{
    @include photo;
    background-image: url('../../assets/picture1.png');
    background-position-x: center;
}

.photo2 {
    @include photo;
    background-image: url('../../assets/picture3.JPG');
}

.photo3 {
    @include photo;
    background-image: url('../../assets/photo3.jpg');
    background-position-x: 55%;
}

.photo4 {
    @include photo;
    background-image: url('../../assets/picture2.JPG');
    background-position-y: 80%;
}

.holder {
    height: 100%;
    width: 100%;
}

.about-info-holder {
    height: 80%;
    width: 50%;
    @include flex-column(center, center);
    text-align: center;
    h1 {
        color: $primary-color;
        text-decoration: underline;
        font-size: 3rem;
        margin-bottom: 40px;
    }
    p {
        color: $font-color;
        font-size: 1.2rem;
    }
}