#about {
    @include window($primary-background);
    scroll-snap-align: center;
    @include background-gradient;
}

.about-section-holder {
    @include section;
    @include flex-row(center, center);
}

.about-section {
    width: 80%;
    height: 80%;
    @include flex-row(space-evenly, center);
    background: $primary-background;
    border-radius: 10px;
    @include box-shadow;
}

.about-photos-holder {
    height: 100%;
    width: 40%;
    // background: blue;
    @include flex-row(center, center);
}

.about-photos {
    width: 80%;
    height: 85%;
    // @include flex-row(center, center);
    img {
        object-fit: cover;
    }
}

.photo1{
    @include photo;
    background-image: url('../../assets/picture1.jpg');
    background-position-x: center;
}

.photo2 {
    @include photo;
    background-image: url('../../assets/picture3.jpg');
}

.photo3 {
    @include photo;
    background-image: url('../../assets/photo3.jpg');
    background-position-x: 55%;
}

.photo4 {
    @include photo;
    background-image: url('../../assets/picture2.jpg');
    background-position-y: 80%;
}

.holder {
    height: 100%;
    width: 100%;
}

.about-info-holder {
    height: 80%;
    width: 50%;
    @include flex-column(center, center);
    text-align: center;
    h1 {
        color: $primary-color;
        text-decoration: underline;
        font-size: 3rem;
        margin-bottom: 40px;
    }
    p {
        color: $font-color;
        font-size: 1.2rem;
    }
}

.single-photo {
    display: none;
}

@media (max-width: 1075px ) {
    .about-info-holder {
        h1 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 1010px) {
    .about-info-holder {
        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 850px) {
    .about-info-holder {
        h1 {
            font-size: 1.8rem;
        }
        p {
            font-size: .8rem;
        }
    }
    .about-photos-holder {
        width: 55%;
    }
    .about-info-holder {
        width: 35%
    }
}

@media (max-width: 615px) {
    .about-section {
        @include flex-column(center, center);
    }
    .single-photo {
        width: 90%;
        height: 50%;
        @include flex-row(center, center);
        img {
            width: 50%;
            height: auto;
            border-radius: 10px;
        }
    }
    .about-photos-holder {
        display: none;
    }
    .about-info-holder {
        height: 50%;
        width: 90%;
    }
}

@media (max-width: 500px) {
    .single-photo {
        img {
            width: 60%;
            height: auto;
        }
    }
    .about-info-holder {
        h1 {
            font-size: 1.8rem;
        }
        p {
            font-size: .7rem;
        }
    }
}

@media (max-width: 410px) {
    .single-photo {
        // height: 40%;
        img {
            width: 60%;
            height: auto;
        }
        
    }
    .about-info-holder {
        // height: 60%;
        h1 {
            font-size: 1.4rem;
        }
        justify-content: flex-start;
    }
}

@media (max-width: 375px) {
    .single-photo {
        height: 40%;
    }
    .about-info-holder {
        height: 60%;
    }
}