nav {
    height: 10vh;
    width: 100vw;
    // background: $primary-background;
    @include flex-row(space-between, center);
    position: fixed;
    z-index: 2;
}

.name {
    height: 40%;
    width: 40%;
    @include flex-row(flex-start, flex-end);
    // padding-left: 20px;
    // background: red;
    h4 {
        font-size: 1.8rem;
        color: $primary-color;
    }
    h6 {
        font-size: .9rem;
        font-weight: 200;
        color: $font-color;
    }
}

.nav-items {
    height: 100%;
    width: 60%;
    @include flex-row(flex-end, center);
    a {
        text-decoration: none;
        margin-right: 30px;
        opacity: 1;
        color: $font-color;
        font-size: 1.5rem;
        &:hover {
            color: $primary-color;
        }
        &:active {
            color: $primary-color;
        }
    }
}


@media (max-width: 768px) {
    nav {
        justify-content: center;
    }
    .name {
        display: none;
    }
    .nav-items {
        width: 80%;
        justify-content: center;
        a:nth-child(5) {
            margin-right: 0;
        }
    }
}

@media (max-width: 540px) {
    .nav-items {
        justify-content: center;
        a {
            font-size: 1rem;
        }
    }
}

@media (max-width: 400px) {
    .nav-items {
        a {
            margin-right: 15px;
        }
    }
}

@media(max-width: 320px) {
    .nav-items {
        a {
            margin-right: 10px;
        }
    }
}
